* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style: none;
    padding-top: 15px;
}
.jumbo {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-image: url(../img/jumbo.png);
}
.container {
    width: 1600px;
    margin: 0 auto;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    float: left;
}
li:nth-of-type(1n+2) {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 150px;
}
.fr {
    float: right;
}
.accedi {
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
    height: 30px;
    width: 80px;
    border-radius: 40%;
    text-align: center;
}
.insight-jumbo {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}
h2 {
    color: white;
}
.button-1, .button-2 {
    font-size: 26px;
    font-weight: bold;
    background-color: white;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 16px;
}
.button-2 {
    background-color: black;
    color: white;
}